
*{
    margin: 0%;
    padding: 0%;
}

body{
    background: #f6f9ff;
   
}

.aba_Navegacao{
 
    display: flex;
    flex-direction: row;
    background-color: #87CEEB ;
    height: 1.5em;
    padding-bottom: 1%;
    padding-top: 1%;

}

.aba_Navegacao a{
   
    text-decoration: none;
    transition: 1s;
    font-weight: bold;
    background-color: #B0E0E6;
    border-radius: 5%;
   padding-top: 2px;
   padding-bottom: 2px;
    margin: -0.1% 2%;
    font-size: 20px;
    
}

.logo{ 
    
    margin-right: -1%;
    

}

.logo img{
    width: 70px;
    padding-top: 20px;
    transition: 1s;
}

.titulo_header {
 
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.frase{
    float: left;
    position: relative;
    top: 30px;
    left: -200px;
    text-decoration: double;
    text-shadow: steelblue;
    color: #334333;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: italic;

}

.options{
    display: flex;
    flex-direction: row;

    
}

.options h3{
    padding-top: 0%;
    text-align: center;
    width: 500px;
    display: block;
    box-shadow: inset;
    background-color: #5f9ea0;
    border: 1px solid;
    border-radius: 4%;
    margin-left: 26px;

}

.cards{
    
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    margin-left: 600px;
    padding-top: 20px;
    height: 120px;
   
    
      
}


.btnBuscar{
   margin-left: 600px;
  margin-top: 10px;
    width: 600px;
    height: 20px;
    border: 1px solid black;
    margin-right: -100px;
    text-align: center;

    
}

.btnBusca{

    margin-left: 100px;
    margin-bottom: -2%;
    background-color: transparent;



}

.card_enviados{
   
    Border-radius: 8px;
      box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
      transition: all 0.3s ease-out;
      margin-left: 10px;
      padding: 1rem 1.5rem;
    
       
    }

.card_enviados h2{
    font-size: 14px;
   padding-left: -4%;
   padding-right: -4%;
    text-transform: uppercase;
    background-color:#ffe4e1 ;
    border-radius: 8%;
    border-width: 1px;
    border: solid;
    font-weight: bold;
    text-shadow: 0.5px 0.5px #334333;
}

.card_enviados p{
    padding-top: 2%;
    font-size: 11px;
    padding-left: 18.2px;
}


.card_enviados span{
    display: flex;
    position: relative;
    margin-left: 30%;
    margin-bottom: -20%;
    padding-top: 4%;
    padding-left: 2%;
    font-weight: bold;
    border: 1px #334333 solid ;
    border-radius: 2px;
    width: 40%;
    font-size: 30px;


    
}

.card_categoria1{
Border-radius: 8px;
box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
transition: all 0.3s ease-out;
 margin-left: 20px ;
 margin-right: 10px;
 width: 200px;
  
  
   
}

.card_categoria1 h2{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
   
}

.card_categoria1 p{
   
    padding-left: 100px;
    padding-right: 20px;
    font-size: 12px;
    
  
}

.card_categoria1 img{
    width: 30px;
    margin-top: -40%;
   

}



.card_categoria1 span{
    position: relative;
    margin-left: 40%;
    font-weight: bold;
    border: 1px #334333 solid ;
    border-radius: 2px;
    width: 26%;

}

.card_categoria2{
    Border-radius: 8px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;
    margin-left: 32px;
    padding: 1rem 1.5rem;
    max-height: 256px;

}
.card_categoria2 img{
    width: 20px;
}

.card_categoria3{
    Border-radius: 8px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;
    margin-left: 32px;
    padding: 1rem 1.5rem;
    max-height: 256px;
}

.card_categoria3 img{
    width: 20px;
}

.card_categoria4{

        Border-radius: 8px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
        transition: all 0.3s ease-out;
        margin-left: 32px;
     
  
}


.card_categoria4 img{
    width: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color:	#b0c4de;
    margin-right: 930px;
    margin-left: 26px;
    margin-bottom: 10px;
    margin-top: -120px;
    border-radius: 2%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 100px;
    border: 10px solid;
    border-color: #87cefa;


}













